<%- include('partials/headerWithSearch') -%>

<div class="listBackground">
    <div class="movieGridContainer">
        <p class="">Hello, <%= user.userName %> </p>

        <div class="links">
            <a href="/watched">Go to Watched</a>
            <a href="/search">Go to Search</a>
            <a href="/logout" class="logout">Logout</a>
        </div>

        <h2 class="listH2">You have <%= watchlist.length %> films on your Watchlist.</h2>


        <div class="movieGrid">
            <% for(var i = 0; i <watchlist.length; i++) {%>
            <div class="movieListItem">
                <div class="poster-container">
                    <form action="/search/deleteWatchlist/<%= watchlist[i]._id %>?_method=DELETE" method="POST">
                        <button class="fa fa-trash trash-icon trashcanUnset"><a class="" type="submit"></a></button>
                    </form>
                    <a href="/search/showSingleResult?movieID=<%= watchlist[i].movieID %>">
                        <img class="poster" src="<%= watchlist[i].poster %>"></img>
                    </a>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>

<%- include('partials/footer') -%>
